

  <body id ="stopwatch" data-no-turbolink>

    <div class = "container">
      <div class = "stopwatch_main">
      <h1>Hello User! </h1>
      <h1><time>00:00:00</time></h1>
      <button class = "btn btn-success start">Start</button>
      <button class = "btn btn-warning stop">Stop</button>
      <button class = "btn btn-primary reset">Reset</button>
      <button class = "btn btn-primary archive">Archive</button>

  </div>
  </div>

  </body>
