rfails

  <body id ="stopwatch" data-no-turbolink>

    <div class = "container">
      <div class = "stopwatch_main">
      <h1>Hello User! </h1>
      <h1><time>00:00:00</time></h1>
      <button class = "btn btn-success start">Start</button>
      <button class = "btn btn-warning stop">Stop</button>
      <button class = "btn btn-primary reset">Reset</button>
      <button class = "btn btn-primary archive">Archive</button>
      <select class ="s_project">Project
         <option value="project X">Project X </option>
         <option value="project Y">Project Y </option>
         <option value="project Z">Project Z </option>
         </select>

  </div>
  <div class = "clockConfig">
  How long should your pomodoro be? (min)--doesnt work--:
  <input class = "timePomodoro" type="number" name="timePomodoro" min="0">
  </div>
</br>

  <div class = "ChartEntries">

    <label for="switch">Monthly View?</label>
    <input type="checkbox" name="switch_to_month" id="switch_to_month">
    <br>

  </div>
  </div>

  </body>
